<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RUBY Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <!-- STYLES -->
	<link href="assets/css/reset.css" rel="stylesheet">
	<link href="assets/css/base.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- ICONS -->
	<link href="assets/css/icons/bundle.min.css" rel="stylesheet">
	<!-- THEME - include theme-dark.css to change ui into dark theme -->
	<link href="assets/css/theme-light.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js" type="text/javascript"></script>
      <script src="assets/js/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    <script src="assets/js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="assets/js/jquery.nicescroll.min.js" type="text/javascript"></script>
    <script src="assets/js/tooltipsy.min.js" type="text/javascript"></script>

	<!-- DEMO ONLY -->
	<link href="assets/css/demo.css" rel="stylesheet">
    <script src="assets/js/app/demo.js" type="text/javascript"></script>
    <!-- DEMO ONLY -->

	<!-- ChartJS 1.0.1 -->
	<script src="assets/js/chartjs/Chart.min.js"></script>
</head>
<body current-page="chart">
	<header>
		<a href="#" class="menu-toggle"><i class="icon5-navicon"></i></a>
		<div class="logo"><h1 class="app-title"><i class="icon5-diamond"></i> RUBY <span>Admin</span></h1></div>
		<ul class="header-nav clearfix">
			<li><a href="#" class="hastip hastip-bottom switch-theme" title="Switch Theme" cur-theme="light"><i class="icon3-switch"></i> <span>Light</span></a></li>
			<li><a href="#" class="icon-only"><i class="icon4-bell"></i><sup><i class="icon5-circle"></i></sup></a></li>
			<li><a href="https://github.com/newbielabs/ruby-admin" target="_blank" class="hastip hastip-right no-loader" title="DOWNLOAD ON GITHUB"><i class="icon1-github"></i> <span>Download</span></a></li>
			<li class="account has-child">
				<a href="#"><h2><i class="icon4-head"></i> <span>ASEP FAJAR NUGRAHA</span></h2><i class="icon5-angle-down toggle"></i></a>
				<ul>
					<li><a href="#">EDIT PROFIL</a></li>
					<li><a href="#">EDIT PASSWORD</a></li>
					<li class="separator"></li>
					<li><a href="login.html"><i class="icon4-power"></i> LOGOUT</a></li>
				</ul>
			</li>
		</ul>
	</header>
	<nav>
		<ul class="scrollbar-vertical">
			<li class="dashboard"><a href="index.html" class="hastip hastip-right" title="DASHBOARD"><i class="icon3-home"></i> <span>DASHBOARD</span></a></li>
			<li class="separator">STYLES</li>
			<li class="element has-child">
				<a href="#" class="hastip hastip-right" title="ELEMENTS"><i class="icon3-monitor"></i> <span>ELEMENTS</span> <i class="toggle icon4-plus"></i></a>
				<ul class="scrollbar-vertical">
					<li><a href="general.html"><i class="icon4-fast-forward"></i> General</a></li>
					<li><a href="typography.html"><i class="icon4-fast-forward"></i> Typography</a></li>
					<li><a href="layout.html"><i class="icon4-fast-forward"></i> Layout</a></li>
					<li><a href="icon.html"><i class="icon4-fast-forward"></i> Icon</a></li>
					<li><a href="notification.html"><i class="icon4-fast-forward"></i> Notification</a></li>
					<li><a href="modal.html"><i class="icon4-fast-forward"></i> Modal</a></li>
				</ul>
			</li>
			<li class="form">
				<a href="form.html" class="hastip hastip-right" title="FORMS"><i class="icon3-write"></i> <span>FORMS</span></a>
			</li>
			<li class="table">
				<a href="table.html" class="hastip hastip-right" title="TABLES"><i class="icon3-browser"></i> <span>TABLES</span></a>
			</li>
			<li class="separator">PLUGINS</li>
			<li class="chart has-child">
				<a href="#" class="hastip hastip-right" title="CHARTS"><i class="icon3-chart"></i> <span>CHARTS</span> <i class="toggle icon4-plus"></i></a>
				<ul class="scrollbar-vertical">
					<li><a href="chart-chartjs.html"><i class="icon4-fast-forward"></i> ChartJS Charts</a></li>
					<li><a href="chart-morris.html"><i class="icon4-fast-forward"></i> Morris Charts</a></li>
					<li><a href="chart-flot.html"><i class="icon4-fast-forward"></i> Flot Charts</a></li>
					<li><a href="chart-inline.html"><i class="icon4-fast-forward"></i> Inline Charts</a></li>
				</ul>
			</li>
			<li class="widget">
				<a href="widget.html" class="hastip hastip-right" title="WIDGETS"><i class="icon3-switch"></i> <span>WIDGETS</span></a>
			</li>
			<li class="separator">EXAMPLES</li>
			<li class="pages has-child">
				<a href="#" class="hastip hastip-right" title="PAGES"><i class="icon3-windows"></i> <span>PAGES</span> <i class="toggle icon4-plus"></i></a>
				<ul class="scrollbar-vertical">
					<li><a href="login.html"><i class="icon4-fast-forward"></i> Login</a></li>
					<li><a href="register.html"><i class="icon4-fast-forward"></i> Register</a></li>
					<li><a href="lock.html"><i class="icon4-fast-forward"></i> Lock Screen</a></li>
					<li><a href="profile.html"><i class="icon4-fast-forward"></i> Profile</a></li>
					<li><a href="blank.html"><i class="icon4-fast-forward"></i> Blank Page</a></li>
					<li><a href="error.html"><i class="icon4-fast-forward"></i> Error Page</a></li>
				</ul>
			</li>
			<li class="menu has-child">
				<a href="#" class="hastip hastip-right" title="MENU"><i class="icon3-folder"></i> <span>MENU</span> <i class="toggle icon4-plus"></i></a>
				<ul class="scrollbar-vertical">
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #1</a></li>
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #2</a></li>
					<li class="has-child">
						<a href="#"><i class="icon4-fast-forward"></i> Menu #3 <i class="toggle icon4-plus"></i></a>
						<ul>
							<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu #1</a></li>
							<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu #2</a></li>
							<li class="has-child">
								<a href="#"><i class="icon4-fast-forward"></i> Sub-Menu #3 <i class="toggle icon4-plus"></i></a>
								<ul>
									<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu Child #1</a></li>
									<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu Child #2</a></li>
									<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu Child #3</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="icon4-fast-forward"></i> Sub-Menu #4</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #4</a></li>
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #5</a></li>
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #6</a></li>
					<li><a href="#"><i class="icon4-fast-forward"></i> Menu #7</a></li>
				</ul>
			</li>
			<li class="separator">DOWNLOAD</li>
			<li><a href="https://github.com/newbielabs/ruby-admin" target="_blank" class="hastip hastip-right no-loader" title="DOWNLOAD ON GITHUB"><i class="icon1-github"></i> <span>GITHUB</span></a></li>
		</ul>
	</nav>
	<main>
		<div class="page-head mbottom-10">
			<h2>ChartJS Charts</h2>
			<p>Sample charts.</p>
		</div>
		<div class="row-wrapper">
			<div class="col-2">
				<div class="box">
					<div class="box-head pbottom-10">
						<h3>Area Chart</h3>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="areaChart" style="height:250px"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="box">
					<div class="box-head pbottom-10">
						<h3>Line Chart</h3>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="lineChart" style="height:250px"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-wrapper">
			<div class="col-2">
				<div class="box">
					<div class="box-head pbottom-10">
						<h3>Bar Chart</h3>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="barChart" style="height:250px"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="box">
					<div class="box-head pbottom-10">
						<h3>Pie/Donut Chart</h3>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="pieChart" style="height:250px"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="copyright">Copyrights &copy; 2017 - RUBY Admin. All Rights Reserved.</div>
		<div class="disclaimer">Designated trademarks and brands are the property of their respective owners. Created by <a href="https://fajarport.com" target="_blank" class="no-loader">Asep Fajar Nugraha</a>.</div>
	</footer>
    <a class="ajax no-loader scrolltop"><i class="icon5-chevron-up"></i></a>
    <script src="assets/js/app/base.js" type="text/javascript"></script>
    <script src="assets/js/app/script.js" type="text/javascript"></script>
    <script type="text/javascript">
		$(function () {
			// AREA CHART
			// Get context with jQuery - using jQuery's .get() method.
			var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
			// This will get the first returned node in the jQuery collection.
			var areaChart = new Chart(areaChartCanvas);

			var areaChartData = {
				labels: ["January", "February", "March", "April", "May", "June", "July"],
				datasets: [
					{
						label: "Electronics",
						fillColor: "rgba(210, 214, 222, 1)",
						strokeColor: "rgba(210, 214, 222, 1)",
						pointColor: "rgba(210, 214, 222, 1)",
						pointStrokeColor: "#c1c7d1",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(220,220,220,1)",
						data: [65, 59, 80, 81, 56, 55, 40]
					},
					{
						label: "Digital Goods",
						fillColor: "rgba(60,141,188,0.9)",
						strokeColor: "rgba(60,141,188,0.8)",
						pointColor: "#3b8bba",
						pointStrokeColor: "rgba(60,141,188,1)",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(60,141,188,1)",
						data: [28, 48, 40, 19, 86, 27, 90]
					}
				]
			};

			var areaChartOptions = {
				//Boolean - If we should show the scale at all
				showScale: true,
				//Boolean - Whether grid lines are shown across the chart
				scaleShowGridLines: false,
				//String - Colour of the grid lines
				scaleGridLineColor: "rgba(0,0,0,.05)",
				//Number - Width of the grid lines
				scaleGridLineWidth: 1,
				//Boolean - Whether to show horizontal lines (except X axis)
				scaleShowHorizontalLines: true,
				//Boolean - Whether to show vertical lines (except Y axis)
				scaleShowVerticalLines: true,
				//Boolean - Whether the line is curved between points
				bezierCurve: true,
				//Number - Tension of the bezier curve between points
				bezierCurveTension: 0.3,
				//Boolean - Whether to show a dot for each point
				pointDot: false,
				//Number - Radius of each point dot in pixels
				pointDotRadius: 4,
				//Number - Pixel width of point dot stroke
				pointDotStrokeWidth: 1,
				//Number - amount extra to add to the radius to cater for hit detection outside the drawn point
				pointHitDetectionRadius: 20,
				//Boolean - Whether to show a stroke for datasets
				datasetStroke: true,
				//Number - Pixel width of dataset stroke
				datasetStrokeWidth: 2,
				//Boolean - Whether to fill the dataset with a color
				datasetFill: true,
				//String - A legend template
				legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
				//Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
				maintainAspectRatio: true,
				//Boolean - whether to make the chart responsive to window resizing
				responsive: true
			};

			// Create the line chart
			areaChart.Line(areaChartData, areaChartOptions);

			// LINE CHART
			var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
			var lineChart = new Chart(lineChartCanvas);
			var lineChartOptions = areaChartOptions;
			lineChartOptions.datasetFill = false;
			lineChart.Line(areaChartData, lineChartOptions);

			// BAR CHART
			var barChartCanvas = $("#barChart").get(0).getContext("2d");
			var barChart = new Chart(barChartCanvas);
			var barChartData = areaChartData;
			barChartData.datasets[1].fillColor = "#00a65a";
			barChartData.datasets[1].strokeColor = "#00a65a";
			barChartData.datasets[1].pointColor = "#00a65a";
			var barChartOptions = {
				//Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
				scaleBeginAtZero: true,
				//Boolean - Whether grid lines are shown across the chart
				scaleShowGridLines: true,
				//String - Colour of the grid lines
				scaleGridLineColor: "rgba(0,0,0,.05)",
				//Number - Width of the grid lines
				scaleGridLineWidth: 1,
				//Boolean - Whether to show horizontal lines (except X axis)
				scaleShowHorizontalLines: true,
				//Boolean - Whether to show vertical lines (except Y axis)
				scaleShowVerticalLines: true,
				//Boolean - If there is a stroke on each bar
				barShowStroke: true,
				//Number - Pixel width of the bar stroke
				barStrokeWidth: 2,
				//Number - Spacing between each of the X value sets
				barValueSpacing: 5,
				//Number - Spacing between data sets within X values
				barDatasetSpacing: 1,
				//String - A legend template
				legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
				//Boolean - whether to make the chart responsive
				responsive: true,
				maintainAspectRatio: true
			};

			barChartOptions.datasetFill = false;
			barChart.Bar(barChartData, barChartOptions);

			// PIE/DONUT CHART
			// Get context with jQuery - using jQuery's .get() method.
			var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
			var pieChart = new Chart(pieChartCanvas);
			var PieData = [
				{
					value: 700,
					color: "#f56954",
					highlight: "#f56954",
					label: "Chrome"
				},
				{
					value: 500,
					color: "#00a65a",
					highlight: "#00a65a",
					label: "IE"
				},
				{
					value: 400,
					color: "#f39c12",
					highlight: "#f39c12",
					label: "FireFox"
				},
				{
					value: 600,
					color: "#00c0ef",
					highlight: "#00c0ef",
					label: "Safari"
				},
				{
					value: 300,
					color: "#3c8dbc",
					highlight: "#3c8dbc",
					label: "Opera"
				},
				{
					value: 100,
					color: "#d2d6de",
					highlight: "#d2d6de",
					label: "Navigator"
				}
			];
			var pieOptions = {
				//Boolean - Whether we should show a stroke on each segment
				segmentShowStroke: true,
				//String - The colour of each segment stroke
				segmentStrokeColor: "#fff",
				//Number - The width of each segment stroke
				segmentStrokeWidth: 2,
				//Number - The percentage of the chart that we cut out of the middle
				percentageInnerCutout: 50, // This is 0 for Pie charts
				//Number - Amount of animation steps
				animationSteps: 100,
				//String - Animation easing effect
				animationEasing: "easeOutBounce",
				//Boolean - Whether we animate the rotation of the Doughnut
				animateRotate: true,
				//Boolean - Whether we animate scaling the Doughnut from the centre
				animateScale: false,
				//Boolean - whether to make the chart responsive to window resizing
				responsive: true,
				// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
				maintainAspectRatio: true,
				//String - A legend template
				legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
			};
			//Create pie or doughnut chart
			// You can switch between pie and doughnut using the method below.
			pieChart.Doughnut(PieData, pieOptions);
		});
	</script>
</body>
</html>